@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: black;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: gray;
    border-radius: 10px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff50;
    margin: 0;
    padding: 0;
}
@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  